body {
  background-color: whitesmoke;
  margin: 0px;
}
* {
  box-sizing: border-box;
}
header {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
}
h1 {
  text-transform: uppercase;
  font-size: 32px;
  line-height: 38px;
  font-weight: bold;
  margin-left: 60px;
}
.search {
  margin-right: 60px;
  border-bottom: 2px solid #c5c5c5;
}
select {
  border: none;
  background-color: #ffffff;
  padding-right: 60px;
  cursor: pointer;
}
option {
  padding: 100px;
}
form {
  padding: 0px 60px;
  background-color: #ffffff;
}
.lds-facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: gray;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.loader {
  display: flex;
  height: 80vh;
  align-items: center;
  justify-content: center;
}
.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%,
  100% {
    top: 24px;
    height: 32px;
  }
}

#countries {
  display: flex;
  flex-wrap: wrap;
  row-gap: 40px;
  column-gap: 20px;
  padding: 10px 40px;
}

li {
  list-style: none;
  padding: 3px 10px;
}
img,
ul {
  height: 100%;
  width: 100%;
  padding: 0px;
}
.class-flag {
  height: 50%;
  cursor: pointer;
}

.country {
  background-color: white;
  margin: 0 auto;
}
.country-name,
.info-name {
  font-weight: bold;
  margin: 10px 0px;
}
.error-message {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70vh;
  font-size: 48px;
  line-height: 44px;
  color: #2b2929;
}
.class-flag section{
  display: none;
}
.class-flag section.show{
  display: flex;
  position: fixed;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  background-color: #ffffff;
  width: 800px;
  transition:5s;
  box-shadow: 0px 5px 30px rgb(0, 0,0,.30);
}
#info-header {
  display: flex;
  justify-content: flex-end;
  padding: 10px 15px;
}
#info-close {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-weight: bold;
  font-size: 2rem;
}
#info-main {
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
  padding: 0px 20px;
}
#info-flag {
  flex: 1;
  height: 200px;
  width: 400px;
}
#info-div {
  flex: 1;
}
.overlay {
  position: fixed;
  opacity: 0.5;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #c5c5c5;
} 
@media (min-width: 421px) and (max-width: 910px) {
  .country {
    width: 40%;
  }
}
@media (min-width: 911px) {
  .country {
    width: 20%;
  }
}
